*{
  margin: 0
 }

html{
  background-color: white;
}

#wrapperDiv{
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  border: solid black 1px;
  border-top: none;
  border-bottom: none;
}

header{
  height: 18vh;
  border: solid black 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 15px;
}

#logoHolder{
  margin-top: 8px;
  height: 42px;
  width: 45px;
  background-color: #333333;
  float: left;
}

#logoTextHolder{
  margin-top: 4px;
  margin-left: 2px;
  height: 50px;
  width: 225px;
  background-color: rgba(235, 16, 16, 0.267);
  float: left;
}

.socialMedia{
  height: 24px;
  width: 24px;
  background-color: #333333;
  float: right;
  margin-left: 2px;
  margin-top: 10px;
}

#spaceMedia{
  margin-right: 8px;
  background-color: red;
}


/* begining of main styles */

main{
  height: 80vh;
}

footer{
  height: 10vh;
  border: solid black 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
